*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.countdown, 
#end {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 150px;    
  }
  
  h1 {
    padding: 5px 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0 206 223);
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 60px;
    background-color: rgb(3 86 65 / 34%);
    padding: 10px 15px;
  }
  .timer {
    display: flex;
    gap: 20px;    
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(3 86 65 / 34%);
    padding: 10px 15px;
  }
  
  .timer span {
    margin: 0 1rem;
    color: rgb(0 206 223);
    font-size: 41px;
    font-weight: 500;
  }

  .timebox{
    display: flex;
    font-size: 41px;
    font-weight: 500;
    flex-direction: column;
    color: rgb(0 206 223);
  }
  #end{
    display: none;
  }
